/*Importation des polices*/
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    text-decoration: none;
}
img {
    object-fit: cover;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 5% 1fr 1fr 1fr 5%);
}
/* configuration des Textes*/
h1 {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  color :rgb(177, 107, 15);
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-shadow: 3px 4px 1px white;
}

h3 {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}

p {
    font-family: "Carrois Gothic", cursive;
    overflow-wrap: break-word;
    font-size: 1.2rem;
}

/*Partie header*/

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-template-rows: 1fr;
    padding: 2rem 10%;
    background: rgb(128, 83, 80);   
}


.logoSite {
    grid-column: 2/3;
    max-width: 15rem;
    background-color: blueviolet;
}


nav {
display: flex;
justify-content: space-evenly;
align-items: center;
grid-column: 3/3;

}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;  
    color: rgb(230, 172, 13);
    background-color: blanchedalmond; 
    border-radius: 0.5rem;
    box-shadow: 3px 2px orangered;
}

.nav-links a {
    padding: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    border-radius: 0.5rem;
    position: relative;
    
}


.nav-links a:hover:not(.active){  
    background-color: #3a5743; 
    color: rgb(230, 172, 13);
}
.active {
    background-color: #283b2e;
    color: rgb(230, 172, 13);
  }

.downPage {
    grid-column: 1/3;    
}

.scroolNav {
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid rgb(21, 56, 21);
    background-color: rgba(0, 0, 0, 0.521);
    text-align: center;
    padding: 0.5rem;
    color: rgb(177, 107, 15);
}

.scroolNav:hover {
    background-color: rgba(0, 0, 0, 0.863);
    font-size: 1.01rem;
    font-weight: 1rem;
}

/* Partie Main*/
main {
grid-row: 2/5;
background-color: rgb(4, 252, 78);

}
    /*Partie About*/
    .about {
        background-color: aqua;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .profil {
        max-width: 10rem;
           
        
    }

    .presentation {
       padding: 1rem;
    }

    /*Partie Tools*/
    .tools {
        background-color: pink
    }

    .textcenter{
        text-align: center;
    }

    .block {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        justify-items: center;

    }

    .designBlock{
        background-color: black;
        grid-area: 2/1/2/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem;
        box-shadow: 5px 5px grey;
        border-radius: 5%;
        align-items: center;
    }

    .devBlock {
        background-color: rgb(54, 30, 2);
        grid-area: 2/2/2/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1rem;
        padding: 2rem;
        box-shadow: 5px 5px grey;
        border-radius: 5%;
        align-items: center;
    }

    .logoTools {
        max-width: 7rem;
        margin: 1rem;
    }

    .photographieBloc {
        text-align: center;
        justify-content: center;
        margin: 2rem;
    }
    .photos {
            --size: 6.5rem;
            justify-content: center;
            margin: 2rem;
            display: grid;
            grid-template-columns: repeat(6, var(--size));
            grid-auto-rows: var(--size);
            margin-bottom: var(--size);
            place-items: start center;
            gap: 5px;
            
            &:has(:hover) .profil:not(:hover),
            &:has(:focus) .profil:not(:focus){
              filter: brightness(0.5) contrast(0.5);
            }
          
            & .profil {
              object-fit: cover;
              width: calc(var(--size) * 2);
              height: calc(var(--size) * 2);
              clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
              transition: clip-path 0.25s, filter 0.75s;
              grid-column: auto / span 2;
              border-radius: 5px;
          
              &:nth-child(5n - 1) { 
                grid-column: 2 / span 2 
              }
          
              &:hover,
              &:focus {
                clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
                z-index: 1;
                transition: clip-path 0.25s, filter 0.25s;
              }
              
              &:focus {
                outline: 1px dashed black;
                outline-offset: -5px;
              }
            }
    }
    /*Partie Project*/
    .projects {
        background-color: purple;
        display: flex;
        flex-flow: column wrap;
        margin : 5%;
        padding: 1rem;
    }

    .projetRight {
        background-color: blue;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: end;
    }

    .alignProjetR {
        margin: 2%;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        gap: 5%;
    }

    .alignProjetL {
        margin: 2%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 5%;
    }
    .projetLeft {
        background-color: brown;

    }

    .textPL {
        grid-area: 2/2/2/2;
    }

    .projetImg {

        max-width: 15rem;
    }
    button {
        
        background-color: #5c3a0e;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
    }

    button:hover{
        background-color: #c7bc1e;
    }

    /*Partie Contact*/
    .contact {
        background-color: rgb(0, 195, 255);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    input[type=text], select {
        width: 90%;
        height: auto;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid orangered;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=email], select {
        width: 90%;
        height: auto;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid orangered;
        border-radius: 4px;
        box-sizing: border-box;
      }
      textarea[name=message], select {
        width: 90%;
        height: auto;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid orangered;
        border-radius: 4px;
        box-sizing: border-box;
      }

    input[type=submit] {
        width: 90%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      form {
        width: 50%;
        padding: 5%;
        background-color: rgba(255, 255, 255, 0.432);
      }

      label {
        margin: 1rem;
      }
      
     .contactText {
        width: 50%;
        padding-top: 7%;
        text-align: center;
        background-color: orange;
     }
     .logo-linkedin {
        margin: 1rem;
        width : 5%;
     }


/*Partie footer*/
footer {
grid-row: 5;
background-color: blueviolet;
}

.UpPage {
margin: 2%;
}



/*Partie Projet1*/
.nameProject{
text-align: center;
}

.projet_1{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(2);
    row-gap: 7rem;
    text-align: center;
}

.logoToolsp{
    max-width: 7rem;
    min-width: auto;
    aspect-ratio: 1/1;
}
.toolsProject{
    grid-area: 1/3/2/3;
}

.logo-tools-p{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(4 ,1fr);
    justify-items: center;
}


.exampleProject{
    grid-area: 2/2/2/3;
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
    justify-content: center;  
    text-align: center; 
}
.exempleI{
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
video{
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}