@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carrois Gothic", cursive;
}

/*Partie header*/

header {
    padding: 2rem 10%;
    background: rgb(128, 83, 80);
}

.logo {
    display: flex;
    width: 40%;
    aspect-ratio: 1/1;
    background-color: rgba(248, 0, 0, 0.315);
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: normal;
}

.nav-links a {
    margin: 1.1rem;
    overflow: hidden;
    text-decoration: none;
    color: rgb(230, 172, 13);
    position: relative;
}

/* Partie Main*/
